/* @import 'loaders.css/src/animations/square-spin.scss' */

/*used font*/
@font-face {
    font-family: 'Avenir Next Cyr Medium';
    src: url('./fonts/AvenirNextCyr-Medium.eot');
    src: local('AvenirNextCyr-Medium'),
        url('./fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AvenirNextCyr-Medium.woff') format('woff'),
        url('./fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
        url('./fonts/AvenirNextCyr-Medium.ttf') format('truetype');

    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr Black';
    src: url('./fonts/HelveticaNeueCyr-Black.eot');
    src: local('HelveticaNeueCyr-Black'),
        url('./fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HelveticaNeueCyr-Black.woff') format('woff'),
        url('./fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr Roman';
    src: url('./fonts/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
        url('./fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('./fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr Bold';
    src: url('./fonts/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
        url('./fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('./fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr Light';
    src: url('./fonts/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
        url('./fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HelveticaNeueCyr-Light.woff') format('woff'),
        url('./fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.main-body {
    background: linear-gradient(106.48deg, #13006c -11.32%, #c33764 117.54%);
    min-height: 100vh;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
body {
    font-family: 'HelveticaNeueCyr Roman', cursive;
    font-size: 16px;
    color: #fff;
    min-height: 100vh;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1) !important;
    position: relative;
    margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    /* color: rgba(255,255, 255,1)  !important; */
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link.active {
    text-decoration: underline;
    font-weight: bold;
}

ul.header-links li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}

.header-links img {
    width: 25px;
}

.navbar-collapse button.btn.btn-outline-light {
    width: 120px;
}
.navbar-collapse button.btn.btn-outline-light img {
    padding-right: 10px;
}

.ml-auto.navbar-nav {
    align-items: inherit;
}

h1,
h2,
h4,
h5 {
    font-family: 'Avenir Next Cyr Medium' !important;
}
h1 {
    font-size: 5rem;
    line-height: 1;
    padding-top: 50px;
}
h1 span {
    color: #fe2afe;
}
.space-ship h2 {
    font-size: 4rem;
}

ul {
    margin-left: 0;
    padding-left: 0;
}
.auto-img {
    margin-top: 100px;
}
.join-text {
    color: #fff;
    font-size: 5rem;
    line-height: 6rem;
    margin-top: 14rem;
    margin-bottom: 6rem;
}

button.btn-primary {
    /* width: 10rem;
    height: 4rem; */

    background: #3108ed;
}
button.btn.btn-primary {
    border: none;
    line-height: 22px;
    padding: 12px 36px;
    border-radius: 11px;
    font-size: 16px;
    margin-top: 30px;
}
button.btn-primary:hover {
    background: #fff;
    color: #3108ed;
}

.carousel-container {
    width: 100%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('./images/svgs/menu-icon-white.svg') !important;
}

.nft-price {
    color: #98568d;
    font-family: 'HelveticaNeueCyr Black';
    font-size: 18px;
    padding-top: 20px;
}
.container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 1601px) {
    h1 {
        font-size: 8rem;
    }
}

@media (max-width: 991px) {
    .join-text {
        font-size: 3rem;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1;
        padding-top: 50px;
    }

    .milestone.first {
        left: -121px;
        display: block;
    }
}

@media (max-width: 600px) {
    .join-text {
        font-size: 2rem;
        line-height: 3rem;
    }
    button.btn.btn-primary {
        border: none;
        line-height: 1.5 !important;
        padding: 10px 36px !important;
        border-radius: 11px !important;
        font-size: 16px !important;
        margin-top: 1px !important;
    }
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
