@import 'loaders.css/src/animations/square-spin.scss'

.loader-hidden {
    display: none;
}
.loader-active {
    display: block;
}

/*used font*/
@font-face {
	font-family: 'Avenir Next Cyr Medium';
	src: url('./fonts/AvenirNextCyr-Medium.eot');
	src: local('AvenirNextCyr-Medium'),
		url('./fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/AvenirNextCyr-Medium.woff') format('woff'),
		url('./fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
		url('./fonts/AvenirNextCyr-Medium.ttf') format('truetype');

	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr Black';
	src: url('./fonts/HelveticaNeueCyr-Black.eot');
	src: local('HelveticaNeueCyr-Black'),
		url('./fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
		url('./fonts/HelveticaNeueCyr-Black.woff') format('woff'),
		url('./fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueCyr Roman';
	src: url('./fonts/HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr-Roman'),
		url('./fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('./fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
		url('./fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr Bold';
	src: url('./fonts/HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
		url('./fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
		url('./fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr Light';
	src: url('./fonts/HelveticaNeueCyr-Light.eot');
	src: local('HelveticaNeueCyr-Light'),
		url('./fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/HelveticaNeueCyr-Light.woff') format('woff'),
		url('./fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


.main-body {
    background: linear-gradient(106.48deg, #13006C -11.32%, #C33764 117.54%);
    min-height: 100vh;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
body{
    font-family: 'HelveticaNeueCyr Roman', cursive;
    font-size:16px;
    color:#fff;
    min-height: 100vh;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255, 255,1)  !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    /* color: rgba(255,255, 255,1)  !important; */
    text-decoration: underline;
}
ul.header-links li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}

.header-links img {
    width: 25px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    margin-top: 20px !important;
}
.navbar-collapse button.btn.btn-outline-light {
    width: 120px;
}
.navbar-collapse button.btn.btn-outline-light img {
    padding-right: 10px;
}
.ml-auto.navbar-nav {
    align-items: inherit;
}

h1, h2, h4, h5 {
    font-family: 'Avenir Next Cyr Medium'  !important;
}
h1 {
    font-size: 5rem;
    line-height: 1;
    padding-top: 50px;
}
h1 span {
    color:#FE2AFE;
}
h3.thin-heading {
    font-size: 20px;
    font-weight: 300;
    font-family: 'HelveticaNeueCyr Light';
    padding-top: 20px;
}
section.our-mission-section {
    margin-top: 5rem;
    text-align: left;
}

section.our-mission-section h4 {
    font-size: 20px;
    padding-bottom: 25px;
}
section.our-mission-section h2 {
    font-size: 1.8rem;
    line-height: 1.5;
}


s.quote {
    padding-top: 0;
}
section.our-mission-section p {
    color: rgba(255,255,255, 0.75);
    font-size: 0.8rem;
    margin-top: 31px;
}
section.our-mission-section img {
    margin-top: -30px;
}
.space-ship h2 {
    font-size: 4rem;
}
section.terms-section {
    padding-top: 40rem;
}
section .terms-title {
    opacity: 0.9;
}
section .terms-content {
    padding-top: 3rem;
    font-size: 1rem;
    line-height: 25px;
    color: rgba(255,255,255, 0.75);
}
.rocket-buttons {
    position: absolute;
    top: 22rem;
    left: 50%;
    transform: translateX(-50%);
}
.rocket-buttons .actions img {
    cursor: pointer;
}
.video-card {
    /* background: black;
    width: 100vw;
    height: 100vh; */
    background: black;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100vh;
    z-index: 9;
}
.drawButton {
    padding-top: 3rem;
}
.tradeButton {
    padding-top: 1rem;
}
.distribution-section span {
    width: 10px;
    height: 10px;
    background: greenyellow;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.distribution-section button.btn.btn-outline-light {
    padding: 5px 25px;
    border-radius: 12px;
    border: 1px solid #9c4d83;
    margin-right: 30px;
    text-transform: uppercase;
}
.distribution-section h2 {
    margin-bottom: 50px;
}
.tx-box {
    background: rgba(255,255,255,1);
    padding: 10px 20px 0;
    color: #000 !important;
    border-radius: 20px;
    text-align: left !important;
    position: relative;
}

ul {
    margin-left: 0;
    padding-left: 0;
}
.box-text {
    font-family: 'HelveticaNeueCyr Bold';
}
.box-number {
    font-family: 'HelveticaNeueCyr Black';
    font-size: 2.5rem;
}
.box-label {
    position: absolute;
    right: 10px;
    bottom: 18px;
    background: #3FD27F;
    padding: 3px 10px;
    border-radius: 6px;
    color: #fff;
    font-family: 'HelveticaNeueCyr Bold';
    font-size: 12px;
}

.box-label.red{
    background:#D12F4D;
}


.timer {
    font-size: 10rem;
    color: red;
    text-shadow: 0px 0 20px lightsteelblue;
    margin-top: -85rem;
}
.auto-img {
    margin-top: 100px;
}
.join-text {
    color: #fff;
    font-size: 5rem;
    line-height: 6rem;
    margin-top: 14rem;
    margin-bottom: 6rem;
}
.nft-distribute.extra-white .nft-price, .nft-distribute.extra-white .nft-numbers{
    color: white !important;
}

button.btn-primary {
    /* width: 10rem;
    height: 4rem; */

    background: #3108ED;
}
button.btn.btn-primary {
    border: none;
    line-height: 22px;
    padding: 12px 36px;
    border-radius: 11px;
    font-size: 16px;
    margin-top: 30px;
}
button.btn-primary:hover {
    background:#fff;
    color: #3108ED;
}
.footer .container {
    text-align: left;
    border-top: 1px solid #9c4d83;
    margin-top: 18rem;
    padding-top: 30px;
}
.footer ul li {
    list-style-type: none;
}
.footer ul li a {
    color: #ffffff !important;
    text-align: left;
    padding-bottom: 20px;
    display: block;
}
.right-footer .footer-links {
    margin-top: 80px;
    text-align: right;
    margin-left: 40px;
}

.footer-links img {width: 20px;}
.footer-copyright {
    margin-top: 70px;
    font-size: 14px;
    color:#c1a3c3;
}
.right-footer .footer-links li {
    float:left;
    margin-left:10px;
}
.recent-minted {
    margin-top: 150px;
}
.recent-minted h4 {
    text-align: center;
    margin-bottom: 30px;
}
.btn-outline-light{
    background:transparent;
    border: 1px solid #fff;
}
.btn-outline-light:hover {
    color: #fff;
    background-color: #3108ED;
    border-color: #f8f9fa;
    border:1px solid #3108ED;
}
section.distribution-section {
    margin-top: 50px;
    margin-bottom: 50px !important;
}
.right-footer button.btn.btn-outline-light img {
    margin-right: 10px;
}
.social-links {
    display: block;
    margin: 10rem auto;
}
.social-links li {
    padding-right: 5rem;
    display: inline-block;
}

.right-footer {
    text-align: right;
}
.carousel-container {
    width: 100%;
   }

.navbar-light .navbar-toggler-icon {
    background-image: url("./images/svgs/menu-icon-white.svg") !important;
}
section.footer {
    background-image: url("./images/footer-bg.png");
    background-size:cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;

}
.distribution-row .col-lg-2.col-12 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.nft-distribute {
    background-image: url("./images/distribute.png");
    background-repeat: no-repeat;
    background-position: right;
    background-repeat: no-repeat;
    min-height: 142px;
    margin-top: 50px;
    z-index: 1999;
    padding-top: 8px;
    position:relative;

}
.first-distribute {
    background-image: url("./images/distribute.png");
    background-repeat: no-repeat;
    background-position: right;
    position:relative;
}

.distribute-bar {
    height: 15px;
    width: calc(100% - 33px);
    display: block;
    background-color: #964d85;
}
.nft-price {
    color: #98568d;
    font-family:'HelveticaNeueCyr Black';
    font-size:18px;
    padding-top: 20px;
}
.nft-numbers {
    color: #98568d;
    font-family:'HelveticaNeueCyr Black';
    font-size:20px;
}
.nft-distribute.active .distribute-bar {
    height: 15px;
    width: calc(100% - 27px);
    display: block;
    background-color: #ECFFF4;
    box-shadow: 0px 0px 20px #3cc071;
    position: absolute;
    margin-left: -2px;
}
.nft-distribute.active .milestone {
    width: 101px;
    top: -81px;
    position: absolute;
    right: 31px;
    z-index: 99999;
    display: block;
}

.nft-distribute .milestone {
    display:none;
}
.milestone.first {
    left: -131px;
    display:block;
}
.first, .second, .third, .fourth, .fifth, .sixth {
    display: block !important;
}
.active .nft-price {
    padding-top: 39px;
}
ul.header-links {
    margin-top: 14px;
    margin: 0 auto;
    padding-left: 50px !important;
}
.milestone-end {
    position: absolute;
    top: -81px;
    display: none;
}
.milestone-display {
    display: block !important;
}
.in-progress .milestone.progressed {
    top: -81px !important;
    display: block !important;
    /* left: 5px; */
}
.in-progress .milestone {
    display: none;
}
.in-progress .milestone.first {
    display: block !important;
}
.nft-distribute .progressed-bar {
    height: 15px;
    width: calc(100% - 30%);
    display: block;
    background-color: #ECFFF4;
    box-shadow: 0px 0px 20px #3cc071;
    position: absolute;
    margin-left: -2px;
}
.nft-distribute.in-progress .distribute-bar {
    height: 15px  !important;
    width: calc(100% - 33px)  !important;
    display: block;
    background-color: #964d85 !important;


}
.nft-distribute .progressed-bar {
    display: none !important;
}
.nft-distribute.in-progress .progressed-bar{
    display: block !important;
}
.nft-distribute .milestone.progressed {
    display:none !important;
}
.nft-distribute.in-progress .milestone.progressed {
    display:block !important;
}
.container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 1601px){
    h1 {
        font-size:8rem;
    }
    h3.thin-heading {
        font-size: 24px;
    }
    section.our-mission-section h4 {
        font-size: 24px;
        padding-bottom: 25px;
    }
    section.our-mission-section p {
        color: rgba(255,255,255, 0.75);
        font-size: 1rem;
        margin-top: 31px;
    }
    .recent-minted {
        margin-top: 13rem;
        margin-bottom: 12rem;
    }

}

@media (max-width:1600px) {
    .timer{
        margin-top: -74rem;
    }
    section.footer {
        background-size:contain;
        background-position: center bottom;
        min-height: 300px;
        background-repeat: no-repeat;

    }
}


@media (max-width:1500px) {
    .timer{
        margin-top: -64rem;
    }
}

@media (max-width:1200px) {
    .timer{
        margin-top: -54rem;
        font-size:8rem;
    }
}


@media (max-width:1040px) {
    .timer{
        margin-top: -44rem;
        font-size: 6rem;
    }
}


@media (max-width:991px) {
    .timer{
        margin-top: -34rem;
        font-size: 4rem;
    }
    .join-text {
        font-size:3rem;
    }

    .tx-box {
        margin-bottom: 20px;
    }
    section.our-mission-section {
        margin-top: 5rem;
        text-align: center;
    }
    section.our-mission-section img {

        text-align: center;
        margin-left: -50px;
        width: 310px;
        margin: 30px auto;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 1;
        padding-top: 50px;
    }
    .footer .container {
        text-align: center;
        border-top: 1px solid #9c4d83;
        margin-top: 8rem;
        padding-top: 30px;
    }
    .footer-copyright {
        margin-top: 70px;
        font-size: 14px;
        color: #c1a3c3;
        margin-bottom: 50px;
    }
    .footer ul li a {
        color: #fff !important;
        text-align: center;
        padding-bottom: 20px;
        display: block;
    }
    .right-footer {
        text-align: center;
    }
    section.footer {
        background-image: url("./images/svgs/footer.svg");
        background-size: contain;
    background-position: center bottom;
    min-height: 300px;
    background-repeat: no-repeat;
}
.right-footer .footer-links {
    margin-top: 72px;
    padding-bottom: 80px;
    margin-left: 0;
    margin-right: 0 !important;
    text-align: center;
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.subscribe-box {
    margin-top: 50px;
}
.nft-distribute.first-distribute {
    margin-top:50px;
}
.nft-distribute {
    min-height: 142px;
    margin-top: 0;
    z-index: 1999;
    padding-top: 8px;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.milestone.first {
    left: -121px;
    display: block;
}
.nft-distribute .progressed-bar{
    margin-left:10px;
}
nft-distribute.in-progress .distribute-bar {
    height: 15px !important;
    width: calc(100% - 33px) !important;
    display: block;
    background-color: #964d85 !important;
    margin-left: 12px;
}
}

@media (max-width:700px) {
    .timer{
        margin-top: -26rem;
        font-size: 3rem;
    }
    .social-links li {
        padding-right: 2rem;

    }
    .social-links li img {
        width: 60px;
    }
    ul.header-links li {
        margin-right: 5px;
        display: none;
    }
}

@media(max-width: 600px){
    .timer {
        margin-top: -21rem;
        font-size: 3rem;
    }
    .join-text {
        font-size: 2rem;
        line-height: 3rem;
    }

    /* button.btn-primary {
        width: 16rem;
        height:3.5rem;
        font-size:1rem;
    } */
    .social-links li img {
        width: 50px;
    }
    section.our-mission-section h2 {
        font-size: 1.3rem;
        line-height: 1.5;
    }
    .distribution-section h2 {
        margin-bottom: 28px;
        font-size: 1.3rem;
    }
    .subscribe-box h2 {
        font-size: 28px !important;
        line-height: 1.5 !important;
    }
    .kYVXNz input.subscribe-email {
        width: 90% !important;
        margin: 0 auto;
        border-radius: 10px;
        font-size: 0.9rem !important;
        padding-top: 8px !important;
    }
    button.btn.btn-primary {
        border: none;
        line-height: 1.5 !important;
        padding: 10px 36px !important;
        border-radius: 11px !important;
        font-size: 16px !important;
        margin-top: 1px !important;
    }


}

@media(max-width:450px) {
    .timer {
        margin-top: -18.5rem;
        font-size: 2rem;
    }
}


@media(max-width:370px) {
    .timer {
        margin-top: -15.5rem;
        font-size: 2rem;
    }
}

.subscribe-box {
    margin-top: 250px;
}

.subscribe-box h2 {

        font-size: 40px;
        line-height: 60px;

}




loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #0dc5c1;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
